<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">Welcome author</li>
		<li class="nav-item">
			<button class="btn btn-outline-danger my-2 my-sm-0 m-2" (click)="logOut()" type="submit">Logout</button>
		</li>
	</ul>
</nav>
<br />

<div *ngIf="membershipRequest?.active">
<h6 style="text-align: center">Upload documents to submit your application:</h6>

<br />

<div style="text-align: center; vertical-align: middle" *ngIf="dataLoaded">
	<app-form [processInstanceId]="processInstanceId"></app-form>
</div>
</div>
<div *ngIf="!membershipRequest?.active">
	<h4>Time to finish memberhip application has passed.</h4>
</div>
