<div class="container">
	<div class="justify-content-center">
		<div class="col">
			<h1 class="h1">Registration reqeusts</h1>
		</div>
		<div class="col" *ngIf="requests == undefined || requests.length == 0">
			<h3 class="h3">There are no active registration requests</h3>
		</div>
		<div class="col">
			<table class="table table-hover" *ngIf="requests.length != 0">
				<thead *ngIf="requests != undefined">
					<tr>
						<th scope="col">#</th>
						<th scope="col">First name</th>
						<th scope="col">Last name</th>
						<th scope="col">Email</th>
						<th scope="col">City</th>
						<th scope="col">Country</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let request of requests; let i = index"
						[routerLink]="['/committee/requests', request.id]"
					>
						<th scope="row">{{ i + 1 }}</th>
						<td>{{ request.user.firstName }}</td>
						<td>{{ request.user.lastName }}</td>
						<td>{{ request.user.email }}</td>
						<td>{{ request.user.city }}</td>
						<td>{{ request.user.country }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
