<div class="container" *ngIf="dataCollected">
	<div class="justify-content-center">
		<div class="col">
			<h1 class="h1">Membership request</h1>
		</div>
		<div class="col">
			<p>Request no: {{ request.id }}</p>
			<p>First name: {{ request.user.firstName }}</p>
			<p>Last name: {{ request.user.lastName }}</p>
			<p>City: {{ request.user.city }}</p>
			<p>Country: {{ request.user.country }}</p>
			<p>Email: {{ request.user.email }}</p>
			<p>Documents:</p>
		</div>
		<div class="col">
			<!--files-->
			<ul>
				<li *ngFor="let file of request.files">
					<a [href]="file.url" [download]="file.name">{{ file.name }}</a>
				</li>
			</ul>
		</div>
    <div class="col">
      <h3>Notes:</h3>
      <ul>
        <li *ngFor="let note of request.notes">
          <p>{{note.user.firstName}} {{note.user.lastName}}</p>
          <p>{{note.content}}</p>
        </li>
      </ul>
    </div>
		<div class="col">
      <app-form [processInstanceId]="processInstanceId"></app-form>
		</div>
	</div>
</div>
