
<h6 style="text-align: center">Upload book:</h6>

<br />
<div *ngIf="publishingRequest?.status=='Change book based on comments' || publishingRequest?.status=='Editor gave suggestions' || publishingRequest?.status=='Lector sent corrections'" style="text-align: center;">
	<div style="text-align: center;">
		<div style="font-weight: bold;">New notes:</div>
		<div *ngFor="let note of publishingRequest.notes" >
			<div *ngIf="note.deleted==false">{{note.user.firstName}} {{note.user.lastName}}: {{note.content}}</div>
		</div>
		<div style="font-weight: bold;">Old notes:</div>
		<div *ngFor="let note of publishingRequest.notes" > 
			<div *ngIf="note.deleted==true">{{note.user.firstName}} {{note.user.lastName}}: {{note.content}}</div>
		</div>
	</div>
</div>
<br><br>
<div style="text-align: center; vertical-align: middle" *ngIf="dataLoaded">
	<app-form [processInstanceId]="processInstanceId"></app-form>
</div>
