<div class="container" *ngIf="publishingRequest!==undefined">
	<div class="justify-content-center">
		<div class="col">
			<h1 class="h1">Publishing request</h1>
		</div>
		<div class="col">
            <p><b>Title:&nbsp;</b> {{ publishingRequest.book.title }}</p>
            <p><b>Author:&nbsp;</b> {{ publishingRequest.book.authors[0].firstName + ' ' + publishingRequest.book.authors[0].lastName}}</p>
            <p><b>Synopsis:&nbsp;</b> {{ publishingRequest.book.synopsis }}</p>
            <p><b>Status:&nbsp;</b>{{ publishingRequest.status }}</p>
        </div>
        <div class="col" *ngIf="publishingRequest.status == 'Book uploaded'">
            <p>Potential sources:</p>
			<ul>
				<li *ngFor="let file of publishingRequest.potentialPlagiarismList">
					<a [href]="file.url" [download]="file.name">{{ file.name }}</a>
				</li>
			</ul>
        </div>
        <div class="col" *ngIf="publishingRequest.status == 'Book is original' || publishingRequest.status == 'Editor review'">
            <p>Download book:</p>
            <a [href]="publishingRequest.book.bookFile.url" [download]="publishingRequest.book.bookFile.name">{{ publishingRequest.book.bookFile.name }}</a>
        </div>
        <!--
            U zavisnosti od statusa, moguce je prikazati jos neke informacije, ovdje dodati
        -->
        <div *ngIf = "showForm()">
            <app-form [processInstanceId]="processInstanceId" *ngIf="dataLoaded" ></app-form>
        </div>
	</div>
</div>
